</br></br>
<b>Description</b>
</br>
The objective of this exercise is to implement  <b>an additional dimension</b> in the application .</br>
<b>Synopsis:</b>
<ul>
<li>1- Create a route to allow <b>pushing</b> the content of the input fields in an array of the session the session</li>
<li>2- Create a rout to allow <b>removing/splicing</b> a profile from the session in memory</li>
<li>3-  Add a javascript code to display the list of book in the page (using a 'loop' mechanism)</li>
</ul>
...But wait: we still need to fix the volatile session ....
