</br></br>
<b>Description</b>
</br>
<p>
The objective of this exercise is to implement  <b> the base of our application</b> in nodejs.</p>
</br>
<b>Synopsis:</b>
<ul>
  <li>1- Create two pages
    <ul>
      <li>   <b> Main page</b> at the root of the server ('/').
        <ul>
          <li> Allow to add a new book in the list</li>
          <li> Remove a book from the list</li>
          <li> Display the booklist, that can open the detail of a book</li>
        </ul>
      </li>
      <li><b> Detail page</b>
        <ul>
          <li> Display the detail of a book (all fields)</li>
          <li> Enable a Back button. (Hint: Not a "history(-1)" strategy)</li>
        </ul>
      </li>
      <li>Enable the provided <b>stylesheet</b></li>

    </ul>
  </li>
  <li>2 -Adapt the apps.js (static usage)</li>
  <li>3- Deploy on bluemix using GIT
    <ul>
      <li> Create a new nodejs application on IBM bluemix: YOUR_APP </li>
      <li> Edit code in the Bluemix editor. Note the GIT_URL.</li>
      <li> On your platform:
        <ul>
          <li> Create a folder /git/YOUR_APP in your HOME directory (outside the application) </li>
          <li> <b>git clone</b> GIT_URL</li>
          <li> COPY (not MOVE) the code of your application (.js/.json+ subfolders) in the folder</li>
          <li> <b>git add *</b></li>
          <li> <b>git commit</b> + add a comment</li>
          <li> <b>git push</b></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
Taaadaaaaa! ...But wait: we still need to fix the volatile session ....
