</br></br>
<b>Description</b>
</br>
The objective of this exercise is to implement the <b>WATSON language transtation</b> service.
<b>Synopsis:</b>
<ul>
<li>1- Open the dashboard blue on your application  </li>
<li>2- Add a Service - Select Service Translation </li>
<li>3- From the environment variables zone of the Bluemix dashboard, note your credentials </li>
<li>4- From you local directory, deploy the watson developper cloud using <b>npm install XXXX --save</b>
<li>5- Update your app.js files </li>
  <ul>
  <li>5.1- Add the WDC require </li>
  <li>5.2- Add a new route to a translation page containing the watson calls (Translation na language Detection) </li>
  <li>5.3- Create a new template associated to this route</li>
  </ul>
</ul>
<b>remark:</b> Translation and language detection results are not stored in the NoSQL repository but calculated in real time.
