</br></br>
<b>Description</b>
</br>
The objective of this exercise is to implement  <b>an IBM Bluemix deployment</b> if the application.</br>
<b>Synopsis:</b>
<ul>
  <li>1- Add variables for the server name and port so that it is  <b>"Cloud- compliant"</b></li>
  <li>2- Use CloundFoundry
    <ul><b>
      <li> cf api https://api.ng.bluemix.net or cf api https://api.eu-gb.bluemix.net </li>
      <li> cf login -u YOUR_EMAIL -o YOUR_ORG -s "YOUR_WORKSPACE"</li>
      <li>cf push YOUR_APPNAME -m 512m </li>
    </b></ul>

    ...But wait: we still need to fix the volatile session ....
