</br></br>
<b>Description</b>
</br>
The objective of this exercize is to acquire the first steps in using node.js along with the express.js library.
</br>
It will allow to assess:
<ul>
<li>The fundamentals of express: Routes and Middlewares</li>
<li>The notion of session (in memory) </li>
<li>The usage of template (ejs)</li>
<li>GET and POST page for a first level of dynamicity</li>
</ul>


...But wait: have you seen the major drawback of this implementation ?
